@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(30, 54%, 90%);
    font-family: 'DM Sans';
    font-weight: 400;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1,
h2 {
    font-family: "Young Serif", serif;
    font-weight: 700;
}

h2 {
    color: hsl(14, 45%, 36%);
}

h3 {
    color: hsl(332, 51%, 32%);
}

p {
    font-size: 16px;
}

.container {
    width: 60%;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 8px;
    background: hsl(0, 0%, 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.container>img,
.container>div:not(.prepTime) {
    width: 100%;
}

div>ul,
div>ol {
    padding-left: 1rem;
}

ul>li,
td {
    padding: .5rem 0;
}

ol>li {
    padding: .25rem 0;
}

.omelette {
    border-radius: 8px;
}

.prepTime {
    width: 90%;
    padding: 1rem;
    border-radius: 8px;
    background: hsl(330, 100%, 98%);
}

table {
    width: 90%;
    border-collapse: collapse;
}

td:last-child {
    text-align: left;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid black;
}